################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrossUIBinding/bin
/.vs/CrossUIBindingSample/v15/Server/sqlite3
/CrossUIBinding/obj
/CrossUIBindingSample/bin/x86/Debug
/CrossUIBindingSample/obj
